header, footer {
	margin: 0;
	background: rgb(242,242,242);
}

header {
	position: relative;
	overflow: hidden;
	text-align: center;
	margin: 0 auto;
	padding: 0;
}

.header-wrapper {
	display: block;
	max-width: 1140px;
	margin: 0 auto;
}

nav.menu-menu-container {
	position: relative;
	float: right;
	display: inline-block;
	font-family: $headline-font;
	font-weight: 100;
	text-transform: uppercase;
	margin: 0;
}

ul.menu {
	overflow: hidden;
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.menu > li {
	display: inline-block;
	float: right;
	margin: 0;
}

ul.menu > li > a {
	display: inline-block;
	font-size: 0.75em;
	padding: 24px 36px;
	border-left: 1px solid rgb(255,255,255);
}

ul.menu > li > a:hover, ul.menu > li > a:active {
	background: rgb(230,230,230);
}

ul.menu > li > a:last-child {
	border-right: 1px solid rgb(255,255,255);
}

ul.menu > li:last-child {
	margin: 0;
}

article {
	width: 100%;
}

section {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 20px;
}

section.banner {
	max-width: 100%!important;
	width: 100%!important;
	padding: 0!important;
}

/* This parent can be any width and height */
.post-banner {
	height: 600px;
	text-align: center;
}
 
/* The ghost, nudged to maintain perfect centering */
.post-banner:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

/* The element to be centered, can
   also be of any width and height */ 
.banner-text-container {
	color: rgb(255,255,255);
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	display: inline-block;
	vertical-align: middle;
	max-width: 960px;
	margin: 0 auto;
}

.banner-text-container a {
	color: rgb(255,255,255);
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}

article.comment {
	width: 100%;
	padding: 0;
	margin: 1em 0;
}

article.comment img {
	max-width: 40px;
	padding: 0;
}

.post-author {
	padding: 30px 0 0 0;
	border-top: 1px solid rgb(230, 230, 230);
}

.gravatar {
	float: left;
	overflow: hidden;
	width: 25%;
	margin: 0 0 20px 0;
	padding: 0 5% 0 0;
}

.author-text {
	display: inline-block;
	width: 75%;
}

ul.archive-list {
	list-style: none;
	padding: 0;
	margin: 40px auto 40px auto;
	text-align: center;
	font-size: 1.5em;
	font-family: $headline-font;
	font-weight: 900;
	line-height: 1;
}

ul.archive-list > li > a {
	display: block;
	padding: 30px 0;
	margin: 0;
	border-bottom: 1px solid rgb(230,230,230);
}

ul.archive-list > li > a:hover {
	background: rgb(230,230,230);
}

ul.archive-list > li > a:first-child {
	border-top: 1px solid rgb(230,230,230);
}

ul.archive-list > li > a:last-child {
	border-bottom: none;
}

footer {
	text-align: center;
	padding: 5px 20px;
	border-top: 1px solid rgb(255,255,255);
}

nav.next-previous {
	width: 100%;
	overflow: hidden;
	padding: 0;
	margin: 1em 0 0 0;
	box-sizing: border-box;
	background: rgb(242, 242, 242);
	border-top: 1px solid rgb(255,255,255);
}

a.styled-button {
	font-family: $headline-font;
	text-transform: uppercase;
	width: 50%;
	background: rgb(242, 242, 242);
	text-align: center;
	padding: 1em;
	margin: 0;
	box-sizing: border-box;
	border-left: 1px solid rgb(255,255,255);
}

a.styled-button:hover, a.styled-button:active {
	background: rgb(230,230,230);
}

a.styled-button:first-child {
	float: left;
	border-right: none;
}

a.styled-button:last-child {
	float: right;
	border-right: 1px solid rgb(214,214,214);
}