header, footer {
	margin: 0;
	background: rgb(242,242,242);
}

header {
	position: relative;
	overflow: hidden;
	text-align: center;
	margin: 0 auto;
	padding: 0;
}

.header-wrapper {
	display: block;
	margin: 0 auto;
}

nav.menu-menu-container {
	position: relative;
	display: block;
	font-family: $sans-serif-font;
	letter-spacing: 1px;
	font-weight: 400;
	text-transform: uppercase;
	margin: 0;
	width: 100%;
}

ul.menu {
	overflow: hidden;
	float: right;
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	border-left: 1px solid rgb(255, 255, 255);
}

ul.menu > li {
	display: inline-block;
	float: left;
	margin: 0;
	width: 50%;
}

ul.menu > li > a {
	display: inline-block;
	font-size: 0.75em;
	padding: 7% 0;
	border-top: 1px solid rgb(255,255,255);
	font-weight: 400;
	width: 100%;
}

ul.menu > li > a:hover, ul.menu > li > a:active {
	background: rgb(230,230,230);
}

ul.menu > li > a:last-child {
	border-right: 1px solid rgb(255,255,255);
}

ul.menu > li:last-child {
	margin: 0;
}

article {
	width: 100%;
}

section {
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 5%;
}

section.banner {
	max-width: 100%!important;
	width: 100%!important;
	padding: 0!important;
	margin: 0 auto;
}

/* This parent can be any width and height */
.post-banner {
	height: auto;
	text-align: center;
	padding: 12% 5%;
	margin: 0 0 3% 0;
}
 
/* The ghost, nudged to maintain perfect centering */
.post-banner:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

/* The element to be centered, can
   also be of any width and height */ 
.banner-text-container {
	color: rgb(255,255,255);
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	display: inline-block;
	vertical-align: middle;
	max-width: 960px;
	margin: 0 auto;
}

.banner-text-container a {
	color: rgb(255,255,255);
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}

.content-wrapper {
	max-width: 1024px;
	margin: 0 auto;

}

section.interview {
	display: inline-block;
	float: left;
	width: 70%;
}

.sidebar-ads {
	display: inline-block;
	float: right;
	width: 30%;
}

article.comment {
	width: 100%;
	padding: 0;
	margin: 1em 0;
}

article.comment img {
	max-width: 40px;
	padding: 0;
}

.post-author {
	padding: 5% 0 0 0;
	border-top: 1px solid rgb(230, 230, 230);
}

.gravatar {
	width: 35%;
	margin: 0 0 3% 0;
	padding: 0;
}

.author-text {
	display: block;
}

ul.archive-list {
	list-style: none;
	padding: 0;
	margin: 5% auto;
	text-align: center;
	font-size: 1.4em;
	font-family: $sans-serif-font;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 1.2;
}

ul.archive-list > li > a {
	display: block;
	padding: 5%;
	margin: 0;
	border-bottom: 1px solid rgb(230,230,230);
}

ul.archive-list > li > a:hover {
	background: rgb(230,230,230);
}

ul.archive-list > li > a:first-child {
	border-top: 1px solid rgb(230,230,230);
}

ul.archive-list > li > a:last-child {
	border-bottom: none;
}

footer {
	text-align: center;
	padding: 3% 5%;
	border-top: 1px solid rgb(255,255,255);
}

nav.next-previous {
	width: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0 auto;
	box-sizing: border-box;
	list-style: none;
	background: rgb(242, 242, 242);
	border-top: 1px solid rgb(255,255,255);
	border-bottom: 1px solid rgb(255,255,255);
}

nav.next-previous > li {
	box-sizing: border-box;
	width: 50%;
}


nav.next-previous > li:first-child {
	float: left;
	border-right: 1px solid rgb(255,255,255);
}

nav.next-previous > li:last-child {
	float: right;
	border-left: 1px solid rgb(255, 255, 255);
}

a.styled-button {
	display: block;
	width: 100%;
	font-family: $sans-serif-font;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.85em;
	line-height: 1.1;
	letter-spacing: 1px;
	background: rgb(242, 242, 242);
	text-align: center;
	padding: 7%;
	margin: 0;
	box-sizing: border-box;
}

a.styled-button:hover, a.styled-button:active {
	background: rgb(230,230,230);
}

form.searchform {
	text-align: center;
	margin: 0 auto 5% auto;
}

label.screen-reader-text {
	display: block;
}

input[type=text],
input[type=url],
input[type=tel],
input[type=number],
input[type=color],
input[type=email] {
	background: rgb(242, 242, 242);
	padding: 0.5% 3%;
}

hr.rule {
	border: 0;
	height: 0;
	border-top: 0px solid rgb(242,242,242);
	border-bottom: 1px solid rgb(220,220,220);
	margin: 5% 0;
}

footer {
	padding: 3% 0;
	margin: 0 auto;
}

footer p {
	margin: 0 auto;
}