body {
	font-family: "garamond-premier-pro",serif;
	font-style: normal;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.6;
	color: rgb(80,80,80);
}

h1, h2, h3, h4, h5, h6 {
	font-family: "ff-meta-web-pro",sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 3em;
	margin: 0 0 0.15em 0;
	/* 400 for Normal Weight */
}

a, a:visited {
	color: rgb(0,0,0);
	text-decoration: none;
}